node-red-flow
[{"id":"98317d08.ba761","type":"tab","label":"ina219","disabled":false,"info":""},{"id":"2de404b4.22f56c","type":"group","z":"98317d08.ba761","name":"Voltage","style":{"label":true,"fill":"#d1d1d1","color":"#000000"},"nodes":["ff656e7d.97e95","db06d8c1.672ff8","14d155c7.0591ea"],"x":254,"y":139,"w":292,"h":122},{"id":"3e8b3eaa.ccec62","type":"group","z":"98317d08.ba761","name":"Current","style":{"label":true,"fill":"#d1d1d1","color":"#000000"},"nodes":["88476d58.c14c5","b5bd65ce.443638","42ad1120.95e23"],"x":554,"y":139,"w":332,"h":122},{"id":"ef915712.af0df8","type":"group","z":"98317d08.ba761","name":"Power","style":{"label":true,"fill":"#d1d1d1","color":"#000000"},"nodes":["cddc4ef6.bb682","cd1f2880.dec3d8","f08505c0.d70558"],"x":894,"y":139,"w":332,"h":122},{"id":"f7a3faf4.be6098","type":"group","z":"98317d08.ba761","name":"Historical Charts","style":{"fill":"#dbcbe7","label":true,"color":"#000000"},"nodes":["e39d9bbc.eb7e58","61ce8470.7ad3dc","8b9a6a14.06cf78","8e3f6ec9.49ac","1392e02d.5c392","8eaf8226.75d4a","5671531.af0beac","1aa7b723.c423e9","2e4c7a63.eb62a6","d99065db.1dd558","be166741.0f2c88","513cdcb9.df1414","83ee00da.05ab4","6eb9ba9.6b71644","8374f40d.5ee6f8"],"x":54,"y":299,"w":1332,"h":202},{"id":"dc03fe34.39c77","type":"mqtt in","z":"98317d08.ba761","name":"","topic":"pi2nred/ina219A/+","qos":"2","datatype":"auto","broker":"784f4d53.206ce4","x":350,"y":80,"wires":[["856c59e1.a79dc8"]]},{"id":"856c59e1.a79dc8","type":"function","z":"98317d08.ba761","name":"parse MQTT JSON str","func":"var pTopic  = msg.topic.split(\"/\");\nvar jsonObj   =JSON.parse(msg.payload);\nvar fields = {};\nvar tags = {location:pTopic[0], device:pTopic[1]};\nfor(var item in jsonObj){\n    if (item.endsWith('f')) {\n        fields[item] = parseFloat(jsonObj[item]);\n    }\n    if (item.endsWith('i')) {\n        fields[item] = parseInt(jsonObj[item]);\n    }\n}\nmsg.payload = [\n    fields,\n    tags\n];    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":573,"y":79,"wires":[["44c2f03c.1634","ff656e7d.97e95","88476d58.c14c5","cddc4ef6.bb682"]]},{"id":"44c2f03c.1634","type":"influxdb out","z":"98317d08.ba761","influxdb":"3e3327aa.370598","name":"","measurement":"ina219","precision":"","retentionPolicy":"","database":"ina219","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":870,"y":80,"wires":[]},{"id":"ff656e7d.97e95","type":"change","z":"98317d08.ba761","g":"2de404b4.22f56c","name":"Vbusf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].Vbusf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["14d155c7.0591ea","db06d8c1.672ff8"]]},{"id":"db06d8c1.672ff8","type":"ui_gauge","z":"98317d08.ba761","g":"2de404b4.22f56c","name":"A Voltage","group":"52dc46c0.b51b48","order":1,"width":4,"height":4,"gtype":"gage","title":"Volts","label":"V","format":"{{value | number:2}}","min":"0","max":"6","colors":["#00ff11","#3de600","#11ff00"],"seg1":".3","seg2":"3","x":460,"y":180,"wires":[]},{"id":"88476d58.c14c5","type":"change","z":"98317d08.ba761","g":"3e8b3eaa.ccec62","name":"IbusAf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].IbusAf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["42ad1120.95e23","b5bd65ce.443638"]]},{"id":"b5bd65ce.443638","type":"ui_gauge","z":"98317d08.ba761","g":"3e8b3eaa.ccec62","name":"A Current","group":"52dc46c0.b51b48","order":3,"width":4,"height":4,"gtype":"gage","title":"Current","label":"A","format":"{{value | number:3}}","min":"0","max":"1.2","colors":["#00ff11","#e6e600","#0400ff"],"seg1":".3","seg2":".5","x":800,"y":180,"wires":[]},{"id":"e39d9bbc.eb7e58","type":"ui_chart","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Voltage History Query","group":"52dc46c0.b51b48","order":8,"width":0,"height":0,"label":"Voltage History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":340,"wires":[[]]},{"id":"61ce8470.7ad3dc","type":"influxdb in","z":"98317d08.ba761","g":"f7a3faf4.be6098","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":590,"y":340,"wires":[["8e3f6ec9.49ac"]]},{"id":"8b9a6a14.06cf78","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"ina219/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"ina219\" and r._field == \"Vbusf\" and r.device == \"ina219A\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":340,"wires":[["61ce8470.7ad3dc"]]},{"id":"8e3f6ec9.49ac","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":340,"wires":[["e39d9bbc.eb7e58"]]},{"id":"1392e02d.5c392","type":"ui_dropdown","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Voltage Date ","label":"Date Range","tooltip":"","place":"1d","group":"52dc46c0.b51b48","order":7,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":160,"y":340,"wires":[["8b9a6a14.06cf78"]]},{"id":"8eaf8226.75d4a","type":"ui_chart","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Current History Query","group":"52dc46c0.b51b48","order":10,"width":0,"height":0,"label":"Current History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":400,"wires":[[]]},{"id":"5671531.af0beac","type":"influxdb in","z":"98317d08.ba761","g":"f7a3faf4.be6098","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":590,"y":400,"wires":[["2e4c7a63.eb62a6"]]},{"id":"1aa7b723.c423e9","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"ina219/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"ina219\" and r._field == \"IbusAf\" and r.device == \"ina219A\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["5671531.af0beac"]]},{"id":"2e4c7a63.eb62a6","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":400,"wires":[["8eaf8226.75d4a"]]},{"id":"d99065db.1dd558","type":"ui_dropdown","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Current Date","label":"Date Range","tooltip":"","place":"1d","group":"52dc46c0.b51b48","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":160,"y":400,"wires":[["1aa7b723.c423e9"]]},{"id":"14d155c7.0591ea","type":"ui_chart","z":"98317d08.ba761","g":"2de404b4.22f56c","name":"A Voltage","group":"52dc46c0.b51b48","order":2,"width":7,"height":4,"label":"Voltage","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":460,"y":220,"wires":[[]]},{"id":"42ad1120.95e23","type":"ui_chart","z":"98317d08.ba761","g":"3e8b3eaa.ccec62","name":"A Current","group":"52dc46c0.b51b48","order":4,"width":7,"height":4,"label":"Current","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":220,"wires":[[]]},{"id":"cddc4ef6.bb682","type":"change","z":"98317d08.ba761","g":"ef915712.af0df8","name":"PowerWf","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].PowerWf","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":200,"wires":[["f08505c0.d70558","cd1f2880.dec3d8"]]},{"id":"cd1f2880.dec3d8","type":"ui_gauge","z":"98317d08.ba761","g":"ef915712.af0df8","name":"A Power","group":"52dc46c0.b51b48","order":5,"width":4,"height":4,"gtype":"gage","title":"Power","label":"W","format":"{{value | number:2}}","min":"0","max":"6","colors":["#00ff11","#e6e600","#0400ff"],"seg1":".3","seg2":"3","x":1140,"y":180,"wires":[]},{"id":"f08505c0.d70558","type":"ui_chart","z":"98317d08.ba761","g":"ef915712.af0df8","name":"A Power","group":"52dc46c0.b51b48","order":6,"width":7,"height":4,"label":"Power","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1140,"y":220,"wires":[[]]},{"id":"be166741.0f2c88","type":"ui_chart","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Power History Query","group":"52dc46c0.b51b48","order":12,"width":0,"height":0,"label":"Power History Query","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"auto","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1240,"y":460,"wires":[[]]},{"id":"513cdcb9.df1414","type":"influxdb in","z":"98317d08.ba761","g":"f7a3faf4.be6098","influxdb":"3e3327aa.370598","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":590,"y":460,"wires":[["6eb9ba9.6b71644"]]},{"id":"83ee00da.05ab4","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"flux query (v1.8+)","func":"msg.query = 'from(bucket: \"ina219/autogen\")|> range(start: -' + msg.payload + ')|> filter(fn: (r) =>r._measurement == \"ina219\" and r._field == \"PowerWf\" and r.device == \"ina219A\")';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":460,"wires":[["513cdcb9.df1414"]]},{"id":"6eb9ba9.6b71644","type":"function","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"Convert flux query result to JSON format","func":"// Convert flux query result to JSON format for charting\n// Built from https://funprojects.blog/\n\nvar series = [\"series\"];\nvar labels = [\"labels\"];\nvar data = \"[[\";\nvar dateTime;\n\n// Flux query will send msg.payload[i]._time as a string. Can not use NUMBER() function to convert it to epoch time.\n// (can use msg.varA-Type = typeof varA to check)\n\nfor (var i=0; i < msg.payload.length; i++) {\n    dateTime = Date.parse(msg.payload[i]._time); // Date.parse will convert date to unix epoch time. ie 1614630735\n    data += '{ \"x\":' + dateTime + ', \"y\":' + msg.payload[i]._value + '}';\n    if (i < (msg.payload.length - 1)) {\n        data += \",\"\n    } else {\n        data += \"]]\"\n    }\n}\nvar jsondata = JSON.parse(data);\nmsg.payload = [{\"series\": series, \"data\": jsondata, \"labels\": labels}];\nmsg.playload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":460,"wires":[["be166741.0f2c88"]]},{"id":"8374f40d.5ee6f8","type":"ui_dropdown","z":"98317d08.ba761","g":"f7a3faf4.be6098","name":"A Power Date","label":"Date Range","tooltip":"","place":"1d","group":"52dc46c0.b51b48","order":11,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"15m","type":"str"},{"label":"","value":"30m","type":"str"},{"label":"","value":"1h","type":"str"},{"label":"","value":"12h","type":"str"},{"label":"","value":"1d","type":"str"},{"label":"","value":"2d","type":"str"},{"label":"","value":"7d","type":"str"},{"label":"","value":"30d","type":"str"}],"payload":"","topic":"","topicType":"str","x":160,"y":460,"wires":[["83ee00da.05ab4"]]},{"id":"784f4d53.206ce4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e3327aa.370598","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"rpimonitor","name":"","usetls":false,"tls":"5a1ed586.fc57cc","influxdbVersion":"1.8-flux","url":"http://localhost:8086/","rejectUnauthorized":true},{"id":"52dc46c0.b51b48","type":"ui_group","name":"ina219A","tab":"86fd254d.baee28","order":1,"disp":true,"width":11,"collapse":false},{"id":"5a1ed586.fc57cc","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"86fd254d.baee28","type":"ui_tab","name":"ina219","icon":"dashboard","order":11,"disabled":false,"hidden":false}]